.navVertical {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 100vh;
  background-color: #333333; /* Cor de fundo inicial */
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.3s;
  z-index: 1000;
}

.navVertical.expanded {
  width: 200px;
}

.verticalHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.expandButton {
  background: none;
  border: none;
  cursor: pointer;
}

.navIcon {
  font-size: 20px;
  color: white;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navItem {
  width: 100%;
}

.navLink {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.navText {
  margin-left: 10px;
}

.colorPickerContainer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.colorPickerButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.colorOptions {
  position: absolute;
  bottom: 40px;
  display: flex;
  flex-wrap: wrap; /* Permite que as cores quebrem para a próxima linha */
  gap: 5px; /* Espaçamento entre as cores */
  width: 100px; /* Largura fixa para 4 cores por linha */
}

.colorOption {
  width: 20px; /* Aumente o tamanho para 30px */
  height: 20px; /* Aumente o tamanho para 30px */
  border-radius: 50%;
  cursor: pointer;
  flex: 0 0 20px; /* Ajuste o tamanho fixo */
  display: flex;
  align-items: center;
  justify-content: center;
}