Qxwczxpo12.*88999260


eu
😬 O disgraça ontem a patrícia pediu para fazer o teste de fumaça na parada da porto. E ao informar que não estava em casa ela pediu para que fosse no domingo.
 meu colega
Vc como smp atrapalhando kkkk
Ela nem me pediu. Pq sabe q é vc q smp aceita
É aquela parada q falo. Enquanto um aceitar oq ela pede as coisas nao melhoraram


eu
mas tipo como que não aceita
Eu tentei não aceitar rsrs
mas falar não diretamente acho que ia dar ruim


meu colega
Nao existe tentar. Nao pode nao pode
eu
mas o não pode ter que ter sentido pow
meu colega 
o desenvolvedor  me pediu, so falei a podis sexta ate 17hrs

eu
porque eu não poderia em um domingo a noite

meu colega
Pq vc nao trabalha e nao precisa justificar
Nao pode fazer algo fora ddo horário nao precisa de justificativa
Mas ai é com vc. Mas vai ser smp vc kkk

eu 
e isso que preciso achar uma forma de sair